<% @hide_footer_frames = true %>
<% @page_title = "Signing in..." %>

<% content_for :header do %>
  <nav>
    <div class="fizzy-header-logo center flex-inline align-center txt-normal">
      <%= image_tag "fizzy-logo.png", style: "inline-size: 1.15em; margin-inline-end: 0.8ch; block-size: auto;" %>
      <strong class="txt-medium overflow-ellipsis margin-none">Fizzy</strong>
    </div>
  </nav>
<% end %>

<div class="panel shadow center flex flex-column gap-half" style="--panel-size: 45ch;">
  <header>
    <h1 class="txt-x-large font-weight-black margin-none">
      <%= @page_title %>
    </h1>
    <p class="margin-none">Just a sec while we sign you in with <%= Account.sole.name %>.</p>
  </header>

  <%= form_with url: session_start_path, method: :post, data: { controller: "auto-submit" } do |form| %>
    <%= form.button "Sign in", type: "submit", class: "btn btn-primary", data: { turbo_submits_with: "Signing in..." } %>
  <% end %>
</div>

<% content_for :footer do %>
  <div class="txt-align-center center margin-block-double txt-subtle">
    Fizzy&trade; Beta. <%= mail_to "support@37signals.com", "Need help?", class: "txt-link" %>
  </div>
<% end %>
